<div class="front">

    <img src='./img/cover1e.jpeg' alt="" class="img-fluid" style="height: 100%">
    <div class="container text-light">
        <div class="row">
            <div class="col top mt-5 mb-5">
                <h1 class="welcome">WELCOME TO <span class="text-warning"><em><strong>IKOFU</strong></em></span></h1>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="row client">
            <div class="col">
                <p>To order a cup of warm coffee <br> to our superb coffe shop <br>use this button below:</p>
                <a href="/client" type="button" class="btn btn-warning"><h5>Client side</h5></a>
            </div>
        </div>
        <div class="row employee">
            <div class="col">
                <p>Only valid workers <br> can use this feature <br>To select working days</p>
                <a href="/waiters" type="button" class="btn btn-light"><h5>Employees</h5></a>
            </div>
        </div>
    </div>
    <footer class='centered'>
        <h6 >Copyright &copy; 2018. Ikofu </h6>
    </footer>

</div>