<div class="employeeSide">
    <img class="image" src="./img/cover4e.jpeg" alt="">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col text-center">
                    <h3 class="mb-5">Good day Employee</h3>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form action="/waiters/{{user}}"  method="post">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select your name</label>
                        <select class="form-control" name="name_employee"  required>
                            <option value="" selected>Choose username</option>
                            {{#each users}}
                            <option value="{{first_name}}">{{first_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Pass code</label>
                        <input type="password" pattern="[0-9]{4}" title="4 letter pincode" class="form-control" name="pass_code"  placeholder="enter 4 digit code" required>
                    </div>

                    <button type="submit" class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="row">
            <div class="col">
                <h5 class="bg-success text-center">{{messages.info}}</h5>
            </div>
        </div>
    </div>

    <footer class='centered'>
        <h6>Copyright &copy; 2018. Ikofu </h6>
    </footer>

</div>